# Emacs tmp files
*~

# Python byte code files
*.pyc

# Fbone (japantomo) ignores
*.egg-info
*.log
*.pyc
*.db
*.swp
*.swo
*.zip
*.cfg
*.tox
*.mo

*.db
*.sqlite

japantomo/dist
japantomo/build

japantomo/instance
japantomo/production.py
japantomo/logs
japantomo/uploads
japantomo/openid

japantomo/env
